<!DOCTYPE html>
<html>
  <head>
    <title>IetDtu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <%= favicon_link_tag asset_path('iet_logo.png') %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
     <script>
              new WOW().init();
              </script>
     </head>
  <body id="abc">
<!-- <class id="l"><class id="l1"></class></class>   -->


      <nav id="nbar" class="navbar navbar-expand-lg fixed-top navbar-dark">
  <img class="navbar-brand" id="logo" src="/assets/iet_logo.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span id="bootstrap-overrides" class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="home" class="nav-item mr">
        <a class="nav-link"  href="index">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr" href="aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr" href="events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr" href="contactus">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr" href="sponsors">Sponsors</a>
      </li>
      
    </ul>
  </div>
  <!-- <img class="navbar-brand" id="logo" src="/assets/dtu_logo.png"> -->
</nav>

<div id="wrapper">

  </div>
    <%= yield %>
  

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>
